{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
<div class="bg-white">
    <div style="padding-bottom: 5%;"></div>
    <center>
        <h3 style="font-family: cursive;">IPU Results</h3>
        <p >
        <ol class="info-block-list">
            <li>This is an unofficial result portal developed to ease the process of checking the results.</li>
            <li>Generally, we get results in form of long PDF's which are difficult to read and one can barely calculate the percentage.</li>
            <li>Predicting the ranks is next to impossible thing! This portal serves all these things.</li> 
            <li>You get a nice marks presentation, percentage, SGPA, CGPA, and ranks at both college and university level.</li> 
            <li>You can also generate your profile which gives out all the previous semesters' results.</li> 
            <li>What's for me in this? Nothing! No ads, no bloatware.</li> 
        </ol>
        <p>
    </center>
</div>
{% endblock body %}