{% extends 'base.html' %}
{% block title %} Creator {% endblock title %}
{% block creatoractive %} active {% endblock creatoractive %}
{% block body %}
<div class="bg-white">
    <div style="padding-bottom: 5%;"></div>
    <center>
        <h1 align="center">Hi 👋, I am Kaustubh Gupta</h1>
        <br>🔭 I’m currently working on Exploring Python and all it's functionalities.
        <br>🌱 I’m currently learning how to work according to SDLC
        <br>👯 I’m looking to collaborate on Hackathons or maybe a big project!
        <br>🤔 I’m looking for help with improving my understanding of Machine Learning Algorithms and DSA!
        <br>💬 Ask me about anything related to working of anything involving tech.
        <br> Connect with me here:
        <br>
        <a href="https://www.facebook.com/kaustubh.gupta.1828/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/Kaustubh1828" class="fa fa-twitter"></a>
        <a href="https://www.linkedin.com/in/kaustubh-gupta" class="fa fa-linkedin"></a>
        <a href="https://github.com/kaustubhgupta" class="fa fa-github"></a>
        <a href="https://medium.com/@kaustubhgupta1828" class="fa fa-medium"></a>
    </center>
    </div>

{% endblock body %}
