{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}
<div class="bg">
    <center>
        <p style="font-size: 5ch; color: rgb(249, 252, 251);"><b>IPU Results Display</b></p>
    </center>
    <img class="img-pointer" src="/static/img/pointer.png">
    <img class="img-man" src="/static/img/man-standing.png">
    <div class="batch-semester-text">
        <p>Select your Batch & Semester</p>
        <div>
            <form class="form-inline" method="POST" action="/portal">
                <div>
                    <select name="batch-select" class="dropbtn">
                        {% for i in batches %}
                        <option value="{{ i.name }}">{{ i.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="semester-select" class="dropbtn">
                        {% for i in semesters %}
                        <option value="{{ i.name }}">{{ i.name }}</option>
                        {% endfor %}
                    </select>
                </div>
        </div>
    </div>
    <div class="enrolment-container">
        <input type="text" id="rollNo" name="rollNo" placeholder='Enter your Enrolement Number' required>
        <button type="submit" class="chk-btn">Check Marks</button>
    </div>
    </form>
    <a href="/profile"><img class="img-profgen" src="/static/img/profile.png"></a>
    <a href="/dashapp"><img class="img-analytics" src="/static/img/analytics.png"></a>
    <a href="/Ranks"><img class="img-ranks" src="/static/img/ranks.jpeg"></a>
    <div class="features-name">
        <a class="custom-a" href="/profile"><button class="hyperlink-btn">Generate Profile</a></button>
        <span style="padding-left: 66px;"></span>
        <a class="custom-a" href="/dashapp"><button class="hyperlink-btn">Analytics</a></button>
        <span style="padding-left: 82px;"></span>
        <a class="custom-a" href="/Ranks"><button class="hyperlink-btn">Rank List</a></button>
    </div>
    <div class="features-name-mobile">
        <a class="custom-a" href="/profile"><button class="hyperlink-btn">Generate Profile</a></button>
        <span style="padding-left: 31px;"></span>
        <a class="custom-a" href="/Ranks"><button class="hyperlink-btn">Rank List</a></button>
        <a class="custom-a" href="/dashapp"><button class="hyperlink-btn-analytics">Analytics</a></button>
    </div>
</div>
<center>
    <div class="promos">
        <a href="https://www.facebook.com/kaustubh.gupta.1828/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/Kaustubh1828" class="fa fa-twitter"></a>
        <a href="https://www.linkedin.com/in/kaustubh-gupta" class="fa fa-linkedin"></a>
        <a href="https://github.com/kaustubhgupta" class="fa fa-github"></a>
        <a href="https://medium.com/@kaustubhgupta1828" class="fa fa-medium"></a>
    </div>
</center>
{% endblock body %}